* {
  margin: 0;
  padding: 0;
  list-style-type:none;
  }
  header {
    height:2.5rem;
    width:100%;
    position:fixed;
    background:rgba(0,0,0,0.9);
    z-index:120;
  }
  header li {
    float: left;
    list-style-type:none;
    border-right: 0.25rem solid #252525;
  }
  header li a {
    float: left;
    width: 4rem;
    height: 1rem;
    padding: .75rem 1rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1rem;
    font: normal 62.5% "proxima-nova-alt", Helvetica, Arial, sans-serif;
  }
  header .logo {
    float: left;
    width: 12rem;
    height: 2.5rem;
    background:#fde624 no-repeat 1rem .1rem;
  }
 
body {background-color: rgb(161, 0, 254)}
h1 {
  color: rgb(16, 11, 43);
  padding-bottom: 1rem;
};
h1 {font-style: bold}
h2 {
  padding-top: .5rem;
  padding-bottom: 1rem;
  font-style: italic
};
p {
  line-height: 150%;
  margin-left: auto;
  margin-right: auto;
};
body {font-family:Arial,"Times New Roman", sans-serif}
img {
  border: .1rem solid #FFFFFF;
  border-radius: 5%;
  display: block;
  width : auto;
  height: 50ex;
  margin-left: auto;
  margin-right: auto;
};
hr.solid {
  border-top: .2rem solid #000;
};

